@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* アコーディオンメニュー */
.accordion-container {
    display: flex;
    position: relative;
    border-top: none;
    outline: 0;
    cursor: pointer;
}

/*.accordion-container .accordion-title {
    display: block;
    position: relative;
    margin: 0;
    padding-left: 50px;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 17px;
} */

.accordion-title {
    position: relative;
}

.accordion-title::after {
    content: "";
    position: absolute;
    right: 40px;
    top: 3%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.accordion-title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
}

/*.accordion-title ul {
    margin: 0 auto;
    display: none;
}*/

/* main content */
#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.side_user {
    display: flex;
    justify-content: center;
}

#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
