@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* アコーディオンメニュー */
.accordion-container {
    display: flex;
    position: relative;
    border-top: none;
    outline: 0;
    cursor: pointer;
}

.accordion-title {
    display: flex;
    position: absolute;
}

.accordion-title::after {
    content: "";
    right: 40px;
    position: absolute;
    top: 3%;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
}

/* main content */
#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.side_user {
    display: flex;
    justify-content: center;
}

#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
